<!doctype html>
<html lang="en">
    <head>
        <% include ../includes/header.ejs %>
        <title>Paper Dashboard PRO by Creative Tim</title>
    </head>

    <body>
        <div class="wrapper">
            <% include ../includes/dashboard.ejs %>
            <div class="main-panel">
                <% include ../includes/navbar.ejs %>
                
                <div class="content">
                    <div class="container-fluid">
                        <div class="row">

                            <!-- your content here -->

                        </div>
                    </div>
                </div>

                <% include ../includes/footer.ejs %>
            </div>
        </div>
    </body>
    <% include ../includes/scripts.ejs %>
    <%- locals.flash %>
</html>

